:root{
    --brackground-primary-color: #ffffff;
    --brackground-secondary-color: #f5f5f5;
    --brackground-tertiary-color: #0000;

    --bottoon-primary-color:#8F0101;
    --bottoon-secondary-color:#B81515;

    --text-primary-color:#222222;
    --text-secondary-color:#ffffff;
}

body, h1, img, p, fieldset, legend, label, input, select, textarea, button{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: var(--bottoon-primary-color)
}